@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oxygen:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all 0.25s ease-in-out;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: #c6a370;
  color: white;
}

body.style-1 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03rem;
}

body.style-2 {
  font-family: "Lato", serif;
  letter-spacing: 0.03rem;
}
body.style-2 h1,
body.style-2 h2,
body.style-2 h3,
body.style-2 h4,
body.style-2 h5 {
  font-family: "Oxygen", sans-serif;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?f6ud7h");
  src: url("../fonts/icomoon.eot?f6ud7h#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?f6ud7h") format("truetype"), url("../fonts/icomoon.woff?f6ud7h") format("woff"), url("../fonts/icomoon.svg?f6ud7h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e90b";
}

.icon-info2:before {
  content: "\e909";
}

.icon-tools:before {
  content: "\e905";
}

.icon-graduation-cap:before {
  content: "\e900";
}

.icon-mortar-board:before {
  content: "\e900";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location:before {
  content: "\e947";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-user-tie:before {
  content: "\e976";
}

.icon-trophy:before {
  content: "\e99e";
}

.icon-briefcase:before {
  content: "\e9ae";
}

.icon-info:before {
  content: "\ea0c";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

.style-1 .contact-info {
  font-size: 0.875rem;
  list-style: none;
}
.style-1 .contact-info__item:not(:last-child) {
  margin-bottom: 0.7rem;
}
.style-1 .contact-info__link {
  text-decoration: none;
  color: inherit;
}

.style-2 .contact-info {
  font-size: 0.875rem;
  list-style: none;
}
.style-2 .contact-info__link {
  text-decoration: none;
  color: inherit;
}

.style-1 .enumeration:not(:last-child) {
  margin-bottom: 1rem;
}
.style-1 .enumeration__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.style-1 .enumeration__heading {
  font-size: 0.875rem;
  color: #1a3241;
}
.style-1 .enumeration__subtitle {
  font-size: 0.75rem;
  color: #6c757d;
}
.style-1 .enumeration__subheading {
  font-size: 0.875rem;
  color: #c6a370;
}
.style-1 .enumeration__description {
  list-style: none;
  font-size: 0.75rem;
  border-left: 2px solid #ced4da;
  padding: 0 0 0 5px;
  color: #495057;
  margin-top: 0.25rem;
}
.style-1 .enumeration__description-item {
  border: 1px solid #e9ecef;
  padding: 3px 5px;
}
.style-1 .enumeration__description-item:not(:last-child) {
  margin-bottom: 0.25rem;
}
.style-1 .enumeration__description-item--no-border {
  border: unset;
  padding: 0;
}

.style-2 .enumeration:not(:last-child) {
  margin-bottom: 0;
}
.style-2 .enumeration__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.style-2 .enumeration__heading {
  font-size: 0.875rem;
  color: #1a3241;
}
.style-2 .enumeration__subtitle {
  font-size: 0.75rem;
  color: #6c757d;
}
.style-2 .enumeration__subheading {
  font-size: 0.875rem;
  color: #c6a370;
}
.style-2 .enumeration__description {
  font-size: 0.75rem;
  color: #495057;
  margin-top: 0.5rem;
  padding-left: 1rem;
}
.style-2 .enumeration__description-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.menu {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  transition: all 0.25s ease-in-out;
}
.menu__group {
  color: #e9ecef;
  padding: 1rem;
  background-color: #1a3241;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.menu__group:not(:last-child) {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 1080px) {
  .menu {
    opacity: 0.2;
  }
  .menu:hover {
    opacity: 0.8;
  }
}
@media print {
  .menu {
    display: none;
  }
}

.radio-menu__radio-input {
  display: none;
}
.radio-menu__radio-input:nth-of-type(1):checked ~ .radio-menu__radio-dot {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}
.radio-menu__radio-input:nth-of-type(1):checked ~ .radio-menu__radio-dot::before {
  animation: radioDotLaunch1 0.3s ease-in-out forwards;
}
@keyframes radioDotLaunch1 {
  from, to {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(0) scale(0.2);
  }
  50% {
    transform: scale(0.2);
  }
  67% {
    transform: scale(0.2);
  }
  83% {
    transform: translateY(0.3rem) scale(1);
  }
  93% {
    transform: translateY(-0.3rem) scale(1);
  }
  96% {
    transform: translateY(0.3rem) scale(1);
  }
}
.radio-menu__radio-input:nth-of-type(2):checked ~ .radio-menu__radio-dot {
  visibility: visible;
  opacity: 1;
  transform: translateY(2.5rem);
}
.radio-menu__radio-input:nth-of-type(2):checked ~ .radio-menu__radio-dot::before {
  animation: radioDotLaunch2 0.3s ease-in-out forwards;
}
@keyframes radioDotLaunch2 {
  from, to {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(0) scale(0.2);
  }
  50% {
    transform: scale(0.2);
  }
  67% {
    transform: scale(0.2);
  }
  83% {
    transform: translateY(0.3rem) scale(1);
  }
  93% {
    transform: translateY(-0.3rem) scale(1);
  }
  96% {
    transform: translateY(0.3rem) scale(1);
  }
}
.radio-menu__radio-input:nth-of-type(3):checked ~ .radio-menu__radio-dot {
  visibility: visible;
  opacity: 1;
  transform: translateY(5rem);
}
.radio-menu__radio-input:nth-of-type(3):checked ~ .radio-menu__radio-dot::before {
  animation: radioDotLaunch3 0.3s ease-in-out forwards;
}
@keyframes radioDotLaunch3 {
  from, to {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(0) scale(0.2);
  }
  50% {
    transform: scale(0.2);
  }
  67% {
    transform: scale(0.2);
  }
  83% {
    transform: translateY(0.3rem) scale(1);
  }
  93% {
    transform: translateY(-0.3rem) scale(1);
  }
  96% {
    transform: translateY(0.3rem) scale(1);
  }
}
.radio-menu__radio-label {
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.radio-menu__radio-label:not(:last-of-type) {
  margin-bottom: 1rem;
}
.radio-menu__radio-label::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 2px solid #c6a370;
}
.radio-menu__radio-dot {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 1rem;
  height: 1rem;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.radio-menu__radio-dot:before {
  content: "";
  display: block;
  background-color: #c6a370;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.style-1 .section {
  padding: 0 1rem;
}
.style-1 .section:not(:last-child) {
  margin-bottom: 1rem;
}
.style-1 .section__header {
  border-bottom: 1px solid #c6a370;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
}
.style-1 .section__header-icon::before {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  color: #1a3241;
}
.style-1 .section__header-title {
  color: #1a3241;
  font-size: 1rem;
  font-weight: 400;
}
.style-1 .section__body {
  font-size: 0.875rem;
}
.style-1 .section--contact .section__header {
  display: none;
}

.style-2 .section {
  margin-left: 2rem;
  position: relative;
}
.style-2 .section__header {
  border-left: 1px solid #c6a370;
  padding-bottom: 2rem;
}
.style-2 .section__header-icon {
  position: absolute;
  top: -0.5rem;
  left: -1.07rem;
  width: 2.2rem;
  height: 2.2rem;
  border: 2px solid #1a3241;
  background-color: #fff;
  transform: rotateZ(45deg);
  z-index: 1;
}
.style-2 .section__header-icon::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.25rem;
  color: #1a3241;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateZ(-45deg) translateY(-3px);
}
.style-2 .section__header-title {
  color: #1a3241;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 2.4rem;
  text-transform: uppercase;
}
.style-2 .section__body {
  font-size: 0.875rem;
}
.style-2 .section__item {
  position: relative;
  padding: 0 1.5rem 1.5rem;
  border-left: 1px solid #c6a370;
  margin-top: -0.3rem;
}
.style-2 .section__item::before {
  content: "";
  position: absolute;
  top: 0.32rem;
  left: -4.5px;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #1a3241;
  transform: rotateZ(-45deg);
}
.style-2 .section:last-child .section__item:last-child {
  padding-bottom: 0;
  border-color: transparent;
}
.style-2 .section--about .section__header-icon::before {
  transform: rotateZ(-45deg) translateY(-4px);
}
.style-2 .section--work .section__header-icon::before {
  transform: rotateZ(-45deg) translateY(-5px);
}
.style-2 .section--contact, .style-2 .section--skills {
  padding-right: 2rem;
}
.style-2 .section--contact .section__header, .style-2 .section--skills .section__header {
  padding-bottom: 1.5rem;
}
.style-2 .section--contact .section__header-icon, .style-2 .section--skills .section__header-icon {
  border-radius: 50%;
}
.style-2 .section--contact .section__header-title, .style-2 .section--skills .section__header-title {
  margin-left: 1.6rem;
}
.style-2 .section--contact .section__item, .style-2 .section--skills .section__item {
  padding: 0 0 1rem 1.3rem;
  border-left: 1px solid #c6a370;
}
.style-2 .section--contact .section__item::before, .style-2 .section--skills .section__item::before {
  top: 8px;
  left: 0;
  transform: rotateZ(0deg);
  height: 1px;
  width: 0.6rem;
  background: #c6a370;
}
.style-2 .section--contact .section__item::after, .style-2 .section--skills .section__item::after {
  content: "";
  position: absolute;
  top: 4.2px;
  left: 8px;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border: 2px solid #1a3241;
  border-radius: 50%;
}
.style-2 .section--contact:last-child .section__item:last-child, .style-2 .section--skills:last-child .section__item:last-child {
  border-width: 0;
  border-left: 1px solid;
  border-image: linear-gradient(#c6a370 9px, 9px, transparent) 0 100%;
}

.skills {
  list-style: none;
  margin-bottom: 1rem;
}
.skills__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.skills__name {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.25rem;
}
.skills__bar {
  display: block;
  position: relative;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #dee2e6);
  transform: scaleY(1.1);
}
.skills__bar::before, .skills__bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.skills__bar::before {
  height: 1px;
  background-image: linear-gradient(to right, transparent, #d5ba94);
  transform: scaleY(1.1);
}
.skills__bar::after {
  top: -3px;
  width: 7px;
  height: 7px;
  border: 2px solid #d5ba94;
  border-radius: 50%;
  background-color: rgba(198, 163, 112, 0.2);
}
.skills__bar[data-percent="0"]::before {
  width: 0%;
}
.skills__bar[data-percent="0"]::after {
  left: 0%;
}
.skills__bar[data-percent="0"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0";
}
.skills__bar[data-percent="1"]::before {
  width: 1%;
}
.skills__bar[data-percent="1"]::after {
  left: 1%;
}
.skills__bar[data-percent="1"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.1";
}
.skills__bar[data-percent="2"]::before {
  width: 2%;
}
.skills__bar[data-percent="2"]::after {
  left: 2%;
}
.skills__bar[data-percent="2"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.2";
}
.skills__bar[data-percent="3"]::before {
  width: 3%;
}
.skills__bar[data-percent="3"]::after {
  left: 3%;
}
.skills__bar[data-percent="3"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.3";
}
.skills__bar[data-percent="4"]::before {
  width: 4%;
}
.skills__bar[data-percent="4"]::after {
  left: 4%;
}
.skills__bar[data-percent="4"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.4";
}
.skills__bar[data-percent="5"]::before {
  width: 5%;
}
.skills__bar[data-percent="5"]::after {
  left: 5%;
}
.skills__bar[data-percent="5"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.5";
}
.skills__bar[data-percent="6"]::before {
  width: 6%;
}
.skills__bar[data-percent="6"]::after {
  left: 6%;
}
.skills__bar[data-percent="6"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.6";
}
.skills__bar[data-percent="7"]::before {
  width: 7%;
}
.skills__bar[data-percent="7"]::after {
  left: 7%;
}
.skills__bar[data-percent="7"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.7";
}
.skills__bar[data-percent="8"]::before {
  width: 8%;
}
.skills__bar[data-percent="8"]::after {
  left: 8%;
}
.skills__bar[data-percent="8"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.8";
}
.skills__bar[data-percent="9"]::before {
  width: 9%;
}
.skills__bar[data-percent="9"]::after {
  left: 9%;
}
.skills__bar[data-percent="9"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "0.9";
}
.skills__bar[data-percent="10"]::before {
  width: 10%;
}
.skills__bar[data-percent="10"]::after {
  left: 10%;
}
.skills__bar[data-percent="10"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1";
}
.skills__bar[data-percent="11"]::before {
  width: 11%;
}
.skills__bar[data-percent="11"]::after {
  left: 11%;
}
.skills__bar[data-percent="11"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.1";
}
.skills__bar[data-percent="12"]::before {
  width: 12%;
}
.skills__bar[data-percent="12"]::after {
  left: 12%;
}
.skills__bar[data-percent="12"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.2";
}
.skills__bar[data-percent="13"]::before {
  width: 13%;
}
.skills__bar[data-percent="13"]::after {
  left: 13%;
}
.skills__bar[data-percent="13"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.3";
}
.skills__bar[data-percent="14"]::before {
  width: 14%;
}
.skills__bar[data-percent="14"]::after {
  left: 14%;
}
.skills__bar[data-percent="14"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.4";
}
.skills__bar[data-percent="15"]::before {
  width: 15%;
}
.skills__bar[data-percent="15"]::after {
  left: 15%;
}
.skills__bar[data-percent="15"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.5";
}
.skills__bar[data-percent="16"]::before {
  width: 16%;
}
.skills__bar[data-percent="16"]::after {
  left: 16%;
}
.skills__bar[data-percent="16"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.6";
}
.skills__bar[data-percent="17"]::before {
  width: 17%;
}
.skills__bar[data-percent="17"]::after {
  left: 17%;
}
.skills__bar[data-percent="17"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.7";
}
.skills__bar[data-percent="18"]::before {
  width: 18%;
}
.skills__bar[data-percent="18"]::after {
  left: 18%;
}
.skills__bar[data-percent="18"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.8";
}
.skills__bar[data-percent="19"]::before {
  width: 19%;
}
.skills__bar[data-percent="19"]::after {
  left: 19%;
}
.skills__bar[data-percent="19"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "1.9";
}
.skills__bar[data-percent="20"]::before {
  width: 20%;
}
.skills__bar[data-percent="20"]::after {
  left: 20%;
}
.skills__bar[data-percent="20"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2";
}
.skills__bar[data-percent="21"]::before {
  width: 21%;
}
.skills__bar[data-percent="21"]::after {
  left: 21%;
}
.skills__bar[data-percent="21"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.1";
}
.skills__bar[data-percent="22"]::before {
  width: 22%;
}
.skills__bar[data-percent="22"]::after {
  left: 22%;
}
.skills__bar[data-percent="22"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.2";
}
.skills__bar[data-percent="23"]::before {
  width: 23%;
}
.skills__bar[data-percent="23"]::after {
  left: 23%;
}
.skills__bar[data-percent="23"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.3";
}
.skills__bar[data-percent="24"]::before {
  width: 24%;
}
.skills__bar[data-percent="24"]::after {
  left: 24%;
}
.skills__bar[data-percent="24"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.4";
}
.skills__bar[data-percent="25"]::before {
  width: 25%;
}
.skills__bar[data-percent="25"]::after {
  left: 25%;
}
.skills__bar[data-percent="25"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.5";
}
.skills__bar[data-percent="26"]::before {
  width: 26%;
}
.skills__bar[data-percent="26"]::after {
  left: 26%;
}
.skills__bar[data-percent="26"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.6";
}
.skills__bar[data-percent="27"]::before {
  width: 27%;
}
.skills__bar[data-percent="27"]::after {
  left: 27%;
}
.skills__bar[data-percent="27"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.7";
}
.skills__bar[data-percent="28"]::before {
  width: 28%;
}
.skills__bar[data-percent="28"]::after {
  left: 28%;
}
.skills__bar[data-percent="28"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.8";
}
.skills__bar[data-percent="29"]::before {
  width: 29%;
}
.skills__bar[data-percent="29"]::after {
  left: 29%;
}
.skills__bar[data-percent="29"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "2.9";
}
.skills__bar[data-percent="30"]::before {
  width: 30%;
}
.skills__bar[data-percent="30"]::after {
  left: 30%;
}
.skills__bar[data-percent="30"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3";
}
.skills__bar[data-percent="31"]::before {
  width: 31%;
}
.skills__bar[data-percent="31"]::after {
  left: 31%;
}
.skills__bar[data-percent="31"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.1";
}
.skills__bar[data-percent="32"]::before {
  width: 32%;
}
.skills__bar[data-percent="32"]::after {
  left: 32%;
}
.skills__bar[data-percent="32"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.2";
}
.skills__bar[data-percent="33"]::before {
  width: 33%;
}
.skills__bar[data-percent="33"]::after {
  left: 33%;
}
.skills__bar[data-percent="33"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.3";
}
.skills__bar[data-percent="34"]::before {
  width: 34%;
}
.skills__bar[data-percent="34"]::after {
  left: 34%;
}
.skills__bar[data-percent="34"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.4";
}
.skills__bar[data-percent="35"]::before {
  width: 35%;
}
.skills__bar[data-percent="35"]::after {
  left: 35%;
}
.skills__bar[data-percent="35"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.5";
}
.skills__bar[data-percent="36"]::before {
  width: 36%;
}
.skills__bar[data-percent="36"]::after {
  left: 36%;
}
.skills__bar[data-percent="36"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.6";
}
.skills__bar[data-percent="37"]::before {
  width: 37%;
}
.skills__bar[data-percent="37"]::after {
  left: 37%;
}
.skills__bar[data-percent="37"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.7";
}
.skills__bar[data-percent="38"]::before {
  width: 38%;
}
.skills__bar[data-percent="38"]::after {
  left: 38%;
}
.skills__bar[data-percent="38"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.8";
}
.skills__bar[data-percent="39"]::before {
  width: 39%;
}
.skills__bar[data-percent="39"]::after {
  left: 39%;
}
.skills__bar[data-percent="39"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "3.9";
}
.skills__bar[data-percent="40"]::before {
  width: 40%;
}
.skills__bar[data-percent="40"]::after {
  left: 40%;
}
.skills__bar[data-percent="40"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4";
}
.skills__bar[data-percent="41"]::before {
  width: 41%;
}
.skills__bar[data-percent="41"]::after {
  left: 41%;
}
.skills__bar[data-percent="41"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.1";
}
.skills__bar[data-percent="42"]::before {
  width: 42%;
}
.skills__bar[data-percent="42"]::after {
  left: 42%;
}
.skills__bar[data-percent="42"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.2";
}
.skills__bar[data-percent="43"]::before {
  width: 43%;
}
.skills__bar[data-percent="43"]::after {
  left: 43%;
}
.skills__bar[data-percent="43"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.3";
}
.skills__bar[data-percent="44"]::before {
  width: 44%;
}
.skills__bar[data-percent="44"]::after {
  left: 44%;
}
.skills__bar[data-percent="44"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.4";
}
.skills__bar[data-percent="45"]::before {
  width: 45%;
}
.skills__bar[data-percent="45"]::after {
  left: 45%;
}
.skills__bar[data-percent="45"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.5";
}
.skills__bar[data-percent="46"]::before {
  width: 46%;
}
.skills__bar[data-percent="46"]::after {
  left: 46%;
}
.skills__bar[data-percent="46"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.6";
}
.skills__bar[data-percent="47"]::before {
  width: 47%;
}
.skills__bar[data-percent="47"]::after {
  left: 47%;
}
.skills__bar[data-percent="47"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.7";
}
.skills__bar[data-percent="48"]::before {
  width: 48%;
}
.skills__bar[data-percent="48"]::after {
  left: 48%;
}
.skills__bar[data-percent="48"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.8";
}
.skills__bar[data-percent="49"]::before {
  width: 49%;
}
.skills__bar[data-percent="49"]::after {
  left: 49%;
}
.skills__bar[data-percent="49"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "4.9";
}
.skills__bar[data-percent="50"]::before {
  width: 50%;
}
.skills__bar[data-percent="50"]::after {
  left: 50%;
}
.skills__bar[data-percent="50"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5";
}
.skills__bar[data-percent="51"]::before {
  width: 51%;
}
.skills__bar[data-percent="51"]::after {
  left: 51%;
}
.skills__bar[data-percent="51"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.1";
}
.skills__bar[data-percent="52"]::before {
  width: 52%;
}
.skills__bar[data-percent="52"]::after {
  left: 52%;
}
.skills__bar[data-percent="52"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.2";
}
.skills__bar[data-percent="53"]::before {
  width: 53%;
}
.skills__bar[data-percent="53"]::after {
  left: 53%;
}
.skills__bar[data-percent="53"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.3";
}
.skills__bar[data-percent="54"]::before {
  width: 54%;
}
.skills__bar[data-percent="54"]::after {
  left: 54%;
}
.skills__bar[data-percent="54"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.4";
}
.skills__bar[data-percent="55"]::before {
  width: 55%;
}
.skills__bar[data-percent="55"]::after {
  left: 55%;
}
.skills__bar[data-percent="55"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.5";
}
.skills__bar[data-percent="56"]::before {
  width: 56%;
}
.skills__bar[data-percent="56"]::after {
  left: 56%;
}
.skills__bar[data-percent="56"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.6";
}
.skills__bar[data-percent="57"]::before {
  width: 57%;
}
.skills__bar[data-percent="57"]::after {
  left: 57%;
}
.skills__bar[data-percent="57"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.7";
}
.skills__bar[data-percent="58"]::before {
  width: 58%;
}
.skills__bar[data-percent="58"]::after {
  left: 58%;
}
.skills__bar[data-percent="58"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.8";
}
.skills__bar[data-percent="59"]::before {
  width: 59%;
}
.skills__bar[data-percent="59"]::after {
  left: 59%;
}
.skills__bar[data-percent="59"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "5.9";
}
.skills__bar[data-percent="60"]::before {
  width: 60%;
}
.skills__bar[data-percent="60"]::after {
  left: 60%;
}
.skills__bar[data-percent="60"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6";
}
.skills__bar[data-percent="61"]::before {
  width: 61%;
}
.skills__bar[data-percent="61"]::after {
  left: 61%;
}
.skills__bar[data-percent="61"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.1";
}
.skills__bar[data-percent="62"]::before {
  width: 62%;
}
.skills__bar[data-percent="62"]::after {
  left: 62%;
}
.skills__bar[data-percent="62"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.2";
}
.skills__bar[data-percent="63"]::before {
  width: 63%;
}
.skills__bar[data-percent="63"]::after {
  left: 63%;
}
.skills__bar[data-percent="63"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.3";
}
.skills__bar[data-percent="64"]::before {
  width: 64%;
}
.skills__bar[data-percent="64"]::after {
  left: 64%;
}
.skills__bar[data-percent="64"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.4";
}
.skills__bar[data-percent="65"]::before {
  width: 65%;
}
.skills__bar[data-percent="65"]::after {
  left: 65%;
}
.skills__bar[data-percent="65"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.5";
}
.skills__bar[data-percent="66"]::before {
  width: 66%;
}
.skills__bar[data-percent="66"]::after {
  left: 66%;
}
.skills__bar[data-percent="66"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.6";
}
.skills__bar[data-percent="67"]::before {
  width: 67%;
}
.skills__bar[data-percent="67"]::after {
  left: 67%;
}
.skills__bar[data-percent="67"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.7";
}
.skills__bar[data-percent="68"]::before {
  width: 68%;
}
.skills__bar[data-percent="68"]::after {
  left: 68%;
}
.skills__bar[data-percent="68"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.8";
}
.skills__bar[data-percent="69"]::before {
  width: 69%;
}
.skills__bar[data-percent="69"]::after {
  left: 69%;
}
.skills__bar[data-percent="69"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "6.9";
}
.skills__bar[data-percent="70"]::before {
  width: 70%;
}
.skills__bar[data-percent="70"]::after {
  left: 70%;
}
.skills__bar[data-percent="70"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7";
}
.skills__bar[data-percent="71"]::before {
  width: 71%;
}
.skills__bar[data-percent="71"]::after {
  left: 71%;
}
.skills__bar[data-percent="71"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.1";
}
.skills__bar[data-percent="72"]::before {
  width: 72%;
}
.skills__bar[data-percent="72"]::after {
  left: 72%;
}
.skills__bar[data-percent="72"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.2";
}
.skills__bar[data-percent="73"]::before {
  width: 73%;
}
.skills__bar[data-percent="73"]::after {
  left: 73%;
}
.skills__bar[data-percent="73"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.3";
}
.skills__bar[data-percent="74"]::before {
  width: 74%;
}
.skills__bar[data-percent="74"]::after {
  left: 74%;
}
.skills__bar[data-percent="74"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.4";
}
.skills__bar[data-percent="75"]::before {
  width: 75%;
}
.skills__bar[data-percent="75"]::after {
  left: 75%;
}
.skills__bar[data-percent="75"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.5";
}
.skills__bar[data-percent="76"]::before {
  width: 76%;
}
.skills__bar[data-percent="76"]::after {
  left: 76%;
}
.skills__bar[data-percent="76"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.6";
}
.skills__bar[data-percent="77"]::before {
  width: 77%;
}
.skills__bar[data-percent="77"]::after {
  left: 77%;
}
.skills__bar[data-percent="77"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.7";
}
.skills__bar[data-percent="78"]::before {
  width: 78%;
}
.skills__bar[data-percent="78"]::after {
  left: 78%;
}
.skills__bar[data-percent="78"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.8";
}
.skills__bar[data-percent="79"]::before {
  width: 79%;
}
.skills__bar[data-percent="79"]::after {
  left: 79%;
}
.skills__bar[data-percent="79"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "7.9";
}
.skills__bar[data-percent="80"]::before {
  width: 80%;
}
.skills__bar[data-percent="80"]::after {
  left: 80%;
}
.skills__bar[data-percent="80"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8";
}
.skills__bar[data-percent="81"]::before {
  width: 81%;
}
.skills__bar[data-percent="81"]::after {
  left: 81%;
}
.skills__bar[data-percent="81"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.1";
}
.skills__bar[data-percent="82"]::before {
  width: 82%;
}
.skills__bar[data-percent="82"]::after {
  left: 82%;
}
.skills__bar[data-percent="82"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.2";
}
.skills__bar[data-percent="83"]::before {
  width: 83%;
}
.skills__bar[data-percent="83"]::after {
  left: 83%;
}
.skills__bar[data-percent="83"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.3";
}
.skills__bar[data-percent="84"]::before {
  width: 84%;
}
.skills__bar[data-percent="84"]::after {
  left: 84%;
}
.skills__bar[data-percent="84"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.4";
}
.skills__bar[data-percent="85"]::before {
  width: 85%;
}
.skills__bar[data-percent="85"]::after {
  left: 85%;
}
.skills__bar[data-percent="85"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.5";
}
.skills__bar[data-percent="86"]::before {
  width: 86%;
}
.skills__bar[data-percent="86"]::after {
  left: 86%;
}
.skills__bar[data-percent="86"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.6";
}
.skills__bar[data-percent="87"]::before {
  width: 87%;
}
.skills__bar[data-percent="87"]::after {
  left: 87%;
}
.skills__bar[data-percent="87"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.7";
}
.skills__bar[data-percent="88"]::before {
  width: 88%;
}
.skills__bar[data-percent="88"]::after {
  left: 88%;
}
.skills__bar[data-percent="88"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.8";
}
.skills__bar[data-percent="89"]::before {
  width: 89%;
}
.skills__bar[data-percent="89"]::after {
  left: 89%;
}
.skills__bar[data-percent="89"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "8.9";
}
.skills__bar[data-percent="90"]::before {
  width: 90%;
}
.skills__bar[data-percent="90"]::after {
  left: 90%;
}
.skills__bar[data-percent="90"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9";
}
.skills__bar[data-percent="91"]::before {
  width: 91%;
}
.skills__bar[data-percent="91"]::after {
  left: 91%;
}
.skills__bar[data-percent="91"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.1";
}
.skills__bar[data-percent="92"]::before {
  width: 92%;
}
.skills__bar[data-percent="92"]::after {
  left: 92%;
}
.skills__bar[data-percent="92"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.2";
}
.skills__bar[data-percent="93"]::before {
  width: 93%;
}
.skills__bar[data-percent="93"]::after {
  left: 93%;
}
.skills__bar[data-percent="93"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.3";
}
.skills__bar[data-percent="94"]::before {
  width: 94%;
}
.skills__bar[data-percent="94"]::after {
  left: 94%;
}
.skills__bar[data-percent="94"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.4";
}
.skills__bar[data-percent="95"]::before {
  width: 95%;
}
.skills__bar[data-percent="95"]::after {
  left: 95%;
}
.skills__bar[data-percent="95"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.5";
}
.skills__bar[data-percent="96"]::before {
  width: 96%;
}
.skills__bar[data-percent="96"]::after {
  left: 96%;
}
.skills__bar[data-percent="96"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.6";
}
.skills__bar[data-percent="97"]::before {
  width: 97%;
}
.skills__bar[data-percent="97"]::after {
  left: 97%;
}
.skills__bar[data-percent="97"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.7";
}
.skills__bar[data-percent="98"]::before {
  width: 98%;
}
.skills__bar[data-percent="98"]::after {
  left: 98%;
}
.skills__bar[data-percent="98"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.8";
}
.skills__bar[data-percent="99"]::before {
  width: 99%;
}
.skills__bar[data-percent="99"]::after {
  left: 99%;
}
.skills__bar[data-percent="99"] > .skills__percentage::after {
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.625rem;
  color: #6c757d;
  font-weight: 500;
  content: "9.9";
}

.style-2 .skills__item:not(:last-child) {
  margin-bottom: 0;
}

.legend__body {
  padding: 1rem;
  background-color: #343a40;
  color: #ced4da;
  font-size: 0.875rem;
  border-radius: 3px;
}
.legend__item {
  font-size: 0.875rem;
  position: relative;
  padding-left: 1.5rem;
}
.legend__item:not(:last-child) {
  margin-bottom: 1rem;
}
.legend__metric {
  color: #c6a370;
  position: absolute;
  right: calc(100% - 0.6rem);
}
.legend__metric::after {
  content: "»";
  position: absolute;
  color: #adb5bd;
  margin-left: 0.2rem;
  top: -0.07rem;
}
.legend__description {
  display: block;
}

.resume {
  margin: 0 auto;
  display: flex;
  width: 816px;
  height: 1056px;
}
.resume__left {
  width: 70%;
}
.resume__header-name {
  margin-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 0.15em;
  text-align: center;
  background-color: #212529;
  color: #dee2e6;
  position: relative;
  box-shadow: 0 0.5rem 0.5rem -0.5rem #343a40;
}
.resume__right {
  color: #212529;
  border-left: 1px solid #c6a370;
  padding: 1.5rem 0;
  width: 30%;
  background-image: linear-gradient(to bottom right, #f8f9fa, #e9ecef, #dee2e6);
}

.style-2 .resume__left {
  width: 65%;
}
.style-2 .resume__header-name {
  margin-bottom: 1.5rem;
}
.style-2 .resume__right {
  width: 35%;
}

/*# sourceMappingURL=styles.css.map */
