.section {
	padding: 0 1rem;

	&:not(:last-child) {
		margin-bottom: $mb-3;
	}

	&__header {
		border-bottom: 1px solid $color1;
		display: flex;
		align-items: center;
		margin-bottom: $mb-1;
		padding-bottom: $mb-1;
	}

	&__header-icon {
		&::before {
			margin-right: 5px;
			font-size: $fs-xl;
			color: $color2;
		}
	}

	&__header-title {
		color: $color2;
		font-size: $fs;
		font-weight: 400;
	}

	&__body {
		// font-size: 0.8rem;
		font-size: $fs-sm;
	}
}
