.skills {
	$block: &;
	list-style: none;
	margin-bottom: 1rem;

	&__item {
		&:not(:last-child) {
			margin-bottom: $s-2;
		}
	}

	&__name {
		font-size: 0.8rem;
		display: block;
		margin-bottom: $s-1;
	}

	&__bar {
		display: block;
		position: relative;
		height: 1px;
		// background-color: $gray-300;
		background-image: linear-gradient(to right, transparent, $gray-300);
		transform: scaleY(1.1);

		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}

		&::before {
			height: 1px;
			// background-color: $color1-light;
			background-image: linear-gradient(to right, transparent, $color1-light);
			transform: scaleY(1.1);
		}

		&::after {
			top: -3px;
			width: 7px;
			height: 7px;
			border: 2px solid $color1-light;
			border-radius: 50%;
			background-color: rgba($color1, 0.2);
		}

		@for $i from 0 to 100 {
			&[data-percent="#{$i}"] {
				&::before {
					width: $i + 0%;
				}

				&::after {
					left: $i + 0%;
				}

				> #{$block}__percentage::after {
					position: absolute;
					top: -1rem;
					right: 0;
					font-size: $fs-xxs;
					color: $gray-600;
					font-weight: 500;
					content: "#{calc($i / 10)}";
				}
			}
		}
	}
}

.style-2 .skills {
	$block: &;

	&__item {
		&:not(:last-child) {
			margin-bottom: 0;
		}
	}
}

.legend {
	&__body {
		padding: 1rem;
		background-color: $gray-800;
		color: $gray-400;
		font-size: $fs-sm;
		border-radius: 3px;
	}

	&__item {
		font-size: $fs-sm;
		position: relative;
		padding-left: 1.5rem;

		&:not(:last-child) {
			margin-bottom: $s-3;
		}
	}

	&__metric {
		color: $color1;
		position: absolute;
		right: calc(100% - 0.6rem);

		&::after {
			content: "\00bb";
			position: absolute;
			color: $gray-500;
			margin-left: 0.2rem;
			top: -0.07rem;
		}
	}

	&__description {
		display: block;
	}
}
