.menu {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 2;
  transition: all 0.25s ease-in-out;

  &--middle-right {
    top: 50%;
    left: initial;
    bottom: initial;
    right: 1rem;

    transform: translateY(-50%);
  }

  &--middle-left {
    top: 50%;
    left: 1rem;
    bottom: initial;
    right: initial;

    transform: translateY(-50%);
  }

  &--bottom-right {
    top: initial;
    left: initial;
    bottom: 1rem;
    right: 1rem;
  }

  &--top-right {
    top: 0;
    left: initial;
    bottom: initial;
    right: 0;
  }

  &--theme-selector {
    top: 1rem;
    left: initial;
    bottom: initial;
    right: 3rem;
  }

  &--theme-selector &__group {
    background-color: transparent;

    @include dark {
      background-color: transparent;
    }
  }

  &__group {
    color: $gray-200;
    padding: 1rem;
    background-color: $color2;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    position: relative;

    @include dark {
      color: $gray-300;
      background-color: $color2-dark;
    }

    &:not(:last-child) {
      margin-bottom: $s-3;
    }
  }

  @media only screen and (max-width: 1080px) {
    opacity: 0.2;

    &:hover {
      opacity: 0.8;
    }
  }

  @media print {
    display: none;
  }
}
